/**
 * Reset border, margin and padding of all elements to zero
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  margin: 0;
  padding: 0;
}

body, p, div, table, td {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
}

a {
  color: #08c;
  text-decoration: none;

  &:hover {
    color: 005580;
    text-decoration: underline;
  }
}

p {
  margin: 1em 0;
  line-height: $baseLineHeight;
}


